<?xml version="1.0" encoding="utf-8"?>

<FrameLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent">

    <LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_gravity="right|top"
        android:orientation="vertical">

        <TextView
            android:id="@+id/textView4"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_gravity="center"
            android:layout_marginTop="30dp"
            android:text="@string/settings"
            android:textAlignment="center"
            android:textColor="@color/CadetBlue"
            android:textSize="30sp"
            android:textStyle="bold" />

    </LinearLayout>

    <RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_gravity="right|top"
        android:orientation="vertical">

        <Button
            android:id="@+id/changePassBtn"
            android:layout_width="300dp"
            android:layout_height="40dp"
            android:layout_alignParentEnd="true"
            android:layout_alignParentStart="true"
            android:layout_alignParentTop="true"
            android:layout_marginTop="96dp"
            android:text="@string/change_password"
            android:textColor="#000000"
            android:textSize="13sp" />

        <Button
            android:id="@+id/logout"
            android:layout_width="fill_parent"
            android:layout_height="40dp"
            android:layout_alignParentStart="true"
            android:layout_below="@+id/changePassBtn"
            android:backgroundTint="@color/Crimson"
            android:text="@string/logout"
            android:textColor="#000000"
            android:textSize="13sp"
            tools:targetApi="lollipop" />

    </RelativeLayout>
</FrameLayout>